.container {
    flex: 1;
}
.card {
    background-color: #fff;
    border-radius: 14px;
    flex: 1;
    aspect-ratio: 1/1;
}


.h4 {color: var(--gray-60, #8E8E93);
    /* 15 Medium */
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 19.5px */
    letter-spacing: -0.3px;

    margin-top: 21px;
}
.h3 {
    color: var(--base-day-black, #1C1C1E);
    /* 20 Semi bold */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; /* 27px */
    letter-spacing: -0.2px;
}
